.hyd-movie{
    display: flex;
    justify-content: space-around;
    background-color: black;
    flex-wrap: wrap; 
    gap: 10px; 
    /* flex-direction: column; */
 }
 .sub-movie-list{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin: 10px;
    color: aliceblue;
    }
 .sub-movie-list p{
     color: aliceblue;
 }
 .sub-movie-list img{
     height: 360px;
     width: 220px;
     border-radius: 10px;
 }
 .sub-movie-list a{
    color: aliceblue;
    text-decoration: none;
 }
 .sub-movie-list a:hover{
    opacity: 0.8;
    color: aliceblue;
    text-decoration: none;
 }
 .sub-movie-list img:hover{
    opacity: 0.5;
 }
